[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = ">=3.10.0.2"

[dev-packages]
black = ">=24.1.1"
isort = ">=5.13.2"
clea = ">=0.1.0rc4"
pytest = "==7.4.2"

[requires]
python_version = "3.10"
